
/*bootstrap input fields*/

.form-control {
    border-color: rgb(95, 95, 95) !important;
}
/*idk how this works but it adjusts blue shadow*/
.form-control:focus {
    border-color: lightblue !important;
    box-shadow: 0px 0px 0px 1px lightblue !important;
  }

/* searchbar*/
.bar {
    width: 170px;
    float: left;

}


.button {
    float:left;
    padding: 0px 8px 0px 8px;
}
#searchbar {
    padding: 0px 0px 0px 0px;
    height:40px;
    width:fit-content;
}

/*
main {
    padding: 10px 10px 50px 10px
}
*/
.graph {
    min-height: 400px;
    min-width: 300px;
    max-height: 1000px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    flex: 1;
}

.response {
    float:left;
    margin:0px;
    text-align: center;
    padding: 6px 0px 0px 8px ;
    
}

/*slider page*/
.sliderText {
    text-align: center;
    width: fit-content;
    height: fit-content;
}

/*scatter graph tissue selection*/
.dropdown-menu {
    max-height: 150px;
    overflow-y: scroll;
  }

/* center all named elements*/
.center {
    width: 700px;
    margin: auto;
    flex-grow:1; 
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.centerText{
    text-align: center;
}

.cell{
    background-image: linear-gradient(to right, rgba(156,252,248,1),  #f2fcfe 30%, #f2fcfe 70%, rgba(156,252,248,1));
    min-height: 91vh;
    display:flex;
    flex-direction: column;
}

img {
    display: block;
    width: 100%;
    height: auto;
}